// Imports
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
// Font
$bodyFont: 'Libre Franklin', sans-serif;

$lightWeight: 300;
$medWeight: 600;
$heavyWeight: 700;

$bodySize: 2rem;

// Color
$blue: hsl(223, 87%, 63%);
$paleBlue: hsl(223, 100%, 88%);
$lightRed: hsl(354, 100%, 66%);
$grey: hsl(0, 0%, 59%);
$veryDarkBlue: hsl(209, 33%, 12%);
